.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.filled-icon {
    font-variation-settings: 'FILL' 1;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: #e2e2d5; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #c5c5b5; 
}
.p-datatable-header {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #f3f4f6;
}
.dark .p-datatable-header {
    border-bottom: 1px solid #374151;
}

/* Dialog Overrides */
::ng-deep .p-dialog {
    .p-dialog-header, 
    .p-dialog-content, 
    .p-dialog-footer {
        background: transparent !important;
        color: inherit;
    }
    
    .p-dialog-header-icon {
        color: inherit;
        opacity: 0.7;
        
        &:hover {
            opacity: 1;
            background: rgba(0,0,0,0.05);
        }
    }
}

::ng-deep .dark .p-dialog .p-dialog-header-icon:hover {
    background: rgba(255,255,255,0.1);
}
