<header class="topbar">
    <div class="topbar-left">
        <button class="topbar-menu-btn">
            <span class="material-symbols-outlined">menu</span>
        </button>
        <nav class="breadcrumbs">
            <ng-container *ngFor="let item of breadcrumbs; let last = last">
                <a *ngIf="!last && item.url" [routerLink]="item.url" [queryParams]="item.queryParams" class="breadcrumb-link">{{ item.label }}</a>
                <span *ngIf="!last && !item.url" class="breadcrumb-text">{{ item.label }}</span>
                
                <span *ngIf="!last" class="breadcrumb-separator">/</span>
                
                <span *ngIf="last" class="breadcrumb-current">{{ item.label }}</span>
            </ng-container>
        </nav>
    </div>
    <div class="topbar-right">
        <div class="topbar-search">
            <span class="material-symbols-outlined topbar-search-icon">search</span>
            <input class="topbar-search-input" [placeholder]="searchPlaceholder" type="text"/>
        </div>
        <button class="topbar-notification-btn">
            <span class="material-symbols-outlined text-[20px]">notifications</span>
            <span class="topbar-notification-badge"></span>
        </button>
        <div routerLink="/profile" class="topbar-profile group">
            <div class="topbar-profile-avatar">
                <img alt="Smiling man with glasses portrait" class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAU5BkXqM_AXNu4JASymOSQcG3sS7iPTVLInpBg_H_SrNWyjHHIAHhKC-dDdzYvcarOwUadtncRDcuDnmlveuzLqoYe3OEOf0iKsgHFdzJeyQWfd05Lfe8KvWSrtgBxPkjQQW3_0dy0BrkNDIDfQWIEZ2-yR-ZBLK1iBz8dthz1YFR9SjatdSGC46UNSdtEQUASr30qUcjV02Nt4u2pyo6CncNTviRskrmK-zQzO5RdcCm6a5oh1U_jHy6-4p35bZc_tngWUOKSmr4"/>
            </div>
            <div class="topbar-profile-info">
                <p class="topbar-profile-name">{{ displayName() }}</p>
                <p class="topbar-profile-role">{{ displayRole() }}</p>
            </div>
            <span class="material-symbols-outlined topbar-profile-arrow">expand_more</span>
        </div>
    </div>
</header>
